@{
	ViewData["Title"] = "Index";
}

<h1>Test Generic</h1>

<a asp-action="ContatoPost">Contato Get</a>

<body>
    <form action="/Contato/Post" method="post">
        <button type="submit">Clique para executar o método</button>
    </form>
</body>


<script src="~/pages/clientes/index.js"></script>